{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
</head>
<div class="container min-vh-100">
<div class="row h-100 justify-content-center align-items-center"">
<div class="center-column">
    <div class="card card-body">
<h3>Password Reset sent</h3>

<div>
<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should
receive them shortly.</p>
</div>
<p class="font-weight-light">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam
folder.</p>
</div>
</div>
</div>
</div>